/* Move down content because we have a fixed navbar that is 3.5rem tall */
/*main {*/
    /*padding-top: 3.5rem;*/
/*}*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}